<%= form_with(model: galletum, local: true) do |form| %>
  <% if galletum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(galletum.errors.count, "error") %> prohibited this galletum from being saved:</h2>

      <ul>
      <% galletum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :galletum_nombre %>
  </div>

  <div class="field">
    <%= form.label :tamaño %>
    <%= form.text_field :tamaño, id: :galletum_tamaño %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :galletum_tipo %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio, id: :galletum_precio %>
  </div>

  <div class="field">
    <%= form.label :peso %>
    <%= form.text_field :peso, id: :galletum_peso %>
  </div>

  <div class="field">
    <%= form.label :porciones %>
    <%= form.number_field :porciones, id: :galletum_porciones %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
